body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.welcome {
    color: blue;
    text-align: center;
    font-size: 20px;
}


.paragraph {
    color: darkred;
    font-size: 16px;
  
}
.menu-body {
    background-color: #ffffff;
    width: 63%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.border-center {
    border: 2px solid blue;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 214, 205,0.5);
}