@{
    ViewBag.Title = "Home Page";
}


<h2>Contoso - UW University </h2>
<center><img src="~/Photos/uw.png" width="978" height="550" /><br /><br /></center>


<div class="welcome">
    <h2>Welcome to Contoso - UW University</h2>
</div>
<div class="col-md-5">
   
    <p>
        Contoso - UW University is a non-exist university.<br />
        The combination of Contoso from the author and UWT student.<br />
        Project is named by <b>Thuan Vo</b> who is doing his MTCode for school project.
    </p>
 
</div>


<center>
    <a target="_blank" title="Chat Online" href="/Home/Chat">
        <img src="~/Photos/logo.png" width="230" height="100">
    </a>
</center>

